# modified Allowlisting gitignore
# Ignore everything
*

!/.dockerignore
!/.gitignore
!/.gitkeep

!LICENSE
!VERSION
!Makefile

!README.md

# go
!go.sum
!go.mod

# one document directory to consolidate them all
!docs/**/*.md

# track
!*.yaml
!*.ncl
!*.go

# but not these files or (sub)directories
!*/

# explicitly ignore
.venv/
venv/
.env
**/.terraform/**

# ignore experimentation and in-progress development
exp/**

# no logs
logs/
